.regulations {
  flex: 1;
  padding: 2rem;
}

.title {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 300px;
  margin-top: 7rem;
  font-size: 24px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 50px;
  margin-bottom: 18rem;
}


.regulation {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  width: 350px;
  min-height: 120px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, rgba(2,0,36,0.95) 0%, rgba(63,9,121,0.85)),
    url('/src/components/Figures/laws.jpg') center/cover;
}

.regulation:hover {
  transform: translateY(-5px);
}

.accreditation {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  margin-left: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 120px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/books.jpg') center/cover;
}

.senior:hover {
  transform: translateY(-5px);
}

.senior {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  height: 130px;
  margin-left: -760px;
  margin-top: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/senior.jpg') center/cover;
}

.accreditation:hover {
  transform: translateY(-5px);
}

.dynamicRegulation {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 120px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(121,9,94,0.85)),
    url('/src/components/Figures/laws.jpg') center/cover;
}

.dynamicRegulation:hover {
  transform: translateY(-5px);
}

.staticFigure img {
  height: 37rem;
  padding-left: 970px;
  margin-bottom: 20px;
  margin-top: -650px;
}

.earthFigure img {
  height: calc(25rem + 180px);
  margin-left: 1030px;
  margin-bottom: 20px;
  margin-top: calc(-37rem - 40px);
}



@media (max-width: 1200px) {
  .staticFigure img {
    height: 32rem;
    padding-left: 170px;
    margin-bottom: -70px;
    margin-top: -250px;
  }

  .earthFigure img {
    height: calc(20rem + 180px);
    margin-left: 490px;
    margin-bottom: -50px;
    margin-top: calc(-34rem - 40px);
  }
}


@media (max-width: 800px) {
  .staticFigure img {
    height: 32rem;
    padding-left: 170px;
    margin-bottom: -70px;
    margin-top: -250px;
  }

  .earthFigure img {
    height: calc(18rem + 180px);
    margin-left: 340px;
    margin-bottom: -30px;
    margin-top: calc(-31rem - 40px);
  }
}

@media (max-width: 800px) {
  .staticFigure img {
    margin-bottom: 300px;
  }

  .earthFigure img {
    margin-bottom: 200px;
  }

  .title {
    margin-left: 70px;
  }
}