* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign {
  background-image: url('https://imgur.com/ZwnmRF6');
  background-size: cover;
  -webkit-font-smoothing: antialised;
  margin: 0;
  display: flex;
  height: 100vh;
}


.logo img {
width: 100px;
height: 65px;
margin-top: 2rem;
margin-left: auto;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.1);
  position: absolute;
  width: 600px;
  height: 600px;
  top: 15%; 
  left:30%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
}



.box input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left:2.5rem;
    border-radius: 15px;
    transition: all linear 160ms;
    outline: none;
    width: 500px;
}

.box button {
  appearance: button;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  width: 500px;
  margin-left:2.5rem;
  background-color: #BEB6B6;
  border: none;
  transition: 500ms linear;
 
}

.box button > a{
  font-size: 16px;
  text-decoration: none;
  color: white;
  

}

.box button:hover {
  background-color: #936aeb;
  
}

.box label {
  font-size: 14px;
  font-weight: 600;
}

.box a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
  transition: all linear 160ms;
}

.box h1 {
  display: inline-block;
  margin-top: 10rem;
  left: 2rem;
  font-size: 13px;
  color: gray;
  transition: all linear 160ms;
}

.upper p {
  position: absolute;
  font-size: 18px;
  color: rgb(0, 0, 0);
  top:8rem;
  left:50%;
  transform: translate(-50%, -50%);
}

.already p {
  position: absolute;
  font-size: 14px;
  color: #666;
  top:10rem;
  left:50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.box li {
  position: absolute;
  padding: 0 10px;
  text-decoration: none;
  top:12rem;
  left:48%;
  transform: translate(-50%, -50%);

}

.login {
  padding: 0 10px;
  list-style-type: none;
  top:1rem;

}

@media(max-width:1200px) {

  .box {
    left: 20%;
  }
}

@media(max-width:900px) {

  .box {
    left: 10%;
  }

}

@media(max-width:500px) {

  .sign {
    background-size: cover;
  }

  .box {
    left: 6%;
    width: 330px;
    height: 500px;
  }


.box button {
  width: 250px;
  top: 5%;
 
}

.box input {
  width: 250px;
}

}