.photos {
  flex: 1;
  padding: 2rem;
  padding-bottom: 8rem;
  min-height: calc(100vh - 200px);
}

.container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 4rem;
  position: relative;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.card {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.title {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 20rem;
  margin-top: 7rem;
  font-size: 24px;
}

.historical {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  min-height: 80px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, rgba(2,0,36,0.85) 0%, rgba(63,9,121,0.85)),
    url('../../components/Figures/sky-new.jpg') center/cover;
}

.fifthy {
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 80px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('../../components/Figures/congrats-new.jpg') center/cover;
}

.reopen {
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 80px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('../../components/Figures/meeting-new.jpg') center/cover;
}

.staticFigure {
  position: absolute;
  right: -100px;
  top: 100px;
  z-index: -1;
}

.staticFigure img {
  height: 40rem;
  max-height: 70rem;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: auto;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    max-width: 600px;
  }
  
  .leftColumn, .rightColumn {
    flex-direction: column;
  }
  
  .staticFigure {
    right: -100px;
    top: 50px;
  }
  
  .staticFigure img {
    height: 30rem;
    margin-left: 480px;
  }
}


@media (max-width: 768px) {
  .title {
    margin-left: 2rem;
    text-align: center;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .staticFigure {
    display: none;
  }
}