.photos {
  flex: 1;
  padding: 2rem;
}

.title {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 20rem;
  margin-top: 7rem;
  font-size: 24px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 4rem;
  position: relative;
}

.historical {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  min-height: 120px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, rgba(2,0,36,0.85) 0%, rgba(63,9,121,0.85)),
    url('../../components/Figures/sky-new.jpg') center/cover;
}

.historical:hover {
  transform: translateY(-5px);
}

.fifthy {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 120px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('../../components/Figures/congrats-new.jpg') center/cover;
}

.reopen:hover {
  transform: translateY(-5px);
}

.reopen {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 120px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('../../components/Figures/meeting-new.jpg') center/cover;
}

.fifthy:hover {
  transform: translateY(-5px);
}

.staticFigure {
  position: absolute;
  right: -200px;
  bottom: -100px;
  z-index: -1;
}

.staticFigure img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
  
  .staticFigure {
    right: -100px;
    bottom: -50px;
  }
  
  .staticFigure img {
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 768px) {
  .title {
    margin-left: 2rem;
    text-align: center;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .staticFigure {
    display: none;
  }
}