/* Contact Page Styles */
.contact{
  display: flex;
  flex: 1;
  overflow: visible;
  justify-content: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 400px;
  padding-left: 700px;
  padding-right: 8px;
  }

.contact ul {
    font-size: 30px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 100px;
  }

  .contact p {
    font-size: 20px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 150px;
  }

  .contact a {
    font-size: 30px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 250px;
  }

  .contact b {
    font-size: 20px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 300px;
  }

  .contact c {
    font-size: 20px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 400px;
  }

  .contact f {
    font-size: 20px;
    color: #363F5;
    position: absolute; 
    margin-left: -1500px;
    margin-top: 450px;

  }

.Whatsapp img {
    height: 40px;
    width: 40px;
    margin-left: -435px;
    margin-top: 250px;
  }

.staticFigure img {
  height: 40rem;
  padding-left: 275px;
  margin-bottom: -350px;
  margin-top: -20px;
}

/*--------------------*/


@media (max-width: 1200px) {

  .contact ul {
    margin-left: -1000px;
  }
  .contact a {
    margin-left: -1000px;
  }
  .contact p {
    margin-left: -1000px;
  }
  .contact b {
    margin-left: -1000px;
  }
  .contact c {
    margin-left: -1000px;
  }

  .contact f {
    margin-left: -1000px;
  }

  .Whatsapp img {
    margin-left: -500px;
  }
  .staticFigure img {
    height: 20rem;
    padding-left: 10px;
  }
}

@media (max-width: 900px) {
 
  
  .contact ul {
    margin-left: -800px;
  }
  .contact a {
    margin-left: -800px;
  }
  .contact p {
    margin-left: -800px;
  }
  .contact b {
    margin-left: -800px;
  }
  .contact c {
    margin-left: -800px;
  }

  .contact f {
    margin-left: -800px;
  }

  .Whatsapp img {
    margin-left: -300px;
  }

  .staticFigure img {
    height: 20rem;
    padding-left: 150px;
  }
}

@media (max-width: 430px) {
  

}
