.AnalysisAndEquipmentRequestsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding-top: 32px;
  background-color: #F0F2F5;
}

.List {
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-overflow: ellipsis;
  justify-content: center;
  align-items:  normal;
  color: #363F5F;
  margin-left: 32px;
  margin-right: 32px;
}

.ListItem { 
 text-overflow: ellipsis;
 justify-content: center;
 align-items: center;
 margin-top: 8px;
}

.FormContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  align-items: center;
}

.FormTitle{
display: flex;
overflow: visible;
text-overflow: ellipsis;
justify-content: left;
margin-right: 4px;
font-weight: bold;
color: black;
font-size: 14px;
}

.Container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding-top: 4px;
gap: 16px;
}

.sendButton{
display: flex;
flex:1;
justify-content: center;
width: 330px;
height: 64px;
background-color: #FF872C;
border-radius: 5px;
border: none;
font-size: 24px;
}

.SendButtonTitle{
display: flex;
overflow: visible;
text-overflow: ellipsis;
justify-content: center;
font-weight: bold;
color: white;
font-size: 24px;
font-family: Poppins;
}