.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.middle {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  flex: 1;
}

/* Portrait orientation - when height > width */
@media (orientation: portrait) {
  .Container {
    justify-content: space-between;
  }
}

/* 834px and below - ensure content clears fixed header and footer */
@media (max-width: 834px) {
  .middle {
    padding-top: 180px;
    padding-bottom: 80px;
  }
}

/* 390x844 and similar resolutions */
@media (max-width: 414px) and (min-height: 800px) {
  .middle {
    padding-top: 180px;
    padding-bottom: 80px;
  }
}

/* Mobile screens */
@media (max-width: 500px) {
  .middle {
    padding-top: 160px;
    padding-bottom: 80px;
  }
}
