.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Portrait orientation - when height > width */
@media (orientation: portrait) {
  .Container {
    justify-content: space-between;
  }
}


