.history {
  flex: 1;
  padding: 2rem;
}

.title {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 300px;
  margin-top: 7rem;
  font-size: 24px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 50px;
  margin-bottom: 18rem;
  position: relative;
}

.headers {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  width: 350px;
  min-height: 120px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, rgba(2,0,36,0.85) 0%, rgba(63,9,121,0.85)),
    url('/src/components/Figures/headers.png') center/cover;
}

.headers:hover {
  transform: translateY(-5px);
}

.document {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  min-height: 120px;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/history-bg.jpg') center/cover;
}

.document:hover {
  transform: translateY(-5px);
}


.staticFigure {
  position: absolute;
  left: 510px;
  top: 100px;
  z-index: 0;
  pointer-events: none;
}

.staticFigure img {
  width: 40rem;
  height: 40rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -83px;
  padding-left: 300px;
  margin-bottom: -500px;
}

@media (max-width: 1500px) {
  .staticFigure {
    left: 410px;
  }
}

@media (max-width: 1400px) {
  .staticFigure {
    left: 250px;
  }
}

@media (max-width: 1200px) {
  .staticFigure {
    left: -30px;
  }

  .history h1{
    padding-left: 120px;
  }

   .headers {

    margin-left: 100px;
  }

  .document {

    margin-left: 30px;
  }

   
}


@media (max-width: 900px) {
  .staticFigure {
    left: 50px;
  }
}


@media (max-width: 400px) {
  .staticFigure {
    left: 100px;
  }
}