/* Repairs Services Page Styles */
.RS {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 700px;
  padding-right: 8px;
  height: 100vh;
  max-height: 100vh;
}

.RS ul {
  font-size: 24px;
  color: #363F5;
  position: relative;
  margin: 0;
  padding: 0;
}

@media (max-width: 1600px) {
  .RS ul {
    font-size: 22px;
  }
}

@media (max-width: 1400px) {
  .RS ul {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .RS ul {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .RS ul {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .RS ul {
    font-size: 18px;
  }
  
  .box ul {
    font-size: 18px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 600px;
  max-height: 65vh;
  top: 15%;
  left: calc(10% + 130px);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.box ul {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.box input,
.box select,
.box textarea {
  display: flex;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-top: 0.2rem;
  margin-left: 2.5rem;
  border-radius: 15px;
  transition: all linear 160ms;
  outline: none;
  width: 500px;
  color: #000;
  background-color: white;
}

.box textarea {
  min-height: 80px;
  resize: none;
}

.box label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.form {
  padding-bottom: 5px;
  padding-top: 25px;
}

.box button {
  padding: 15px;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  width: 300px;
  margin-left: 9rem;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #beb6b6;
  border: none;
  transition: 500ms linear;
}

.box button:hover {
  background-color: #936aeb;
}

.box button > a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

@media (min-width: 1400px) {
  .box {
    left: calc(10% + 130px - 150px);
  }
}
