/* Repairs Services Page Styles */
.RS {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 150px 20px;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 640px;
}

.title {
  font-size: 24px;
  color: #363F5;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
  word-wrap: break-word;
}

@media (max-width: 800px) {
  .title {
    font-size: 20px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 600px;
  max-height: 65vh;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow-y: auto;
}

.box input,
.box select,
.box textarea {
  display: flex;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-top: 0.2rem;
  margin-left: 2.5rem;
  border-radius: 15px;
  transition: all linear 160ms;
  outline: none;
  width: 500px;
  color: #000;
  background-color: white;
}

.box textarea {
  min-height: 80px;
  resize: none;
}

.box label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.form {
  padding-bottom: 5px;
  padding-top: 25px;
}

.box button {
  padding: 15px;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  width: 300px;
  margin-left: 9rem;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #beb6b6;
  border: none;
  transition: 500ms linear;
}

.box button:hover {
  background-color: #936aeb;
}

.box button > a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
