.header {
  width: 100%;
  background-image: url("../../assets/header-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  flex-direction: row;
  display: flex;
  aspect-ratio: 1;
}


.block1 h1 {
  padding-top: 5px;
  padding-left: 10px;
  margin-left:5px;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  font-family: Roboto;
  font-weight: 500;
  color: white;
}

.logo {
  margin-left: 15px;
}

.header .logoufba img {
  height: 70px;
  margin-top: 10px;
}

.header .figure img {
  height: 60px;
}

.signup {
  margin-left: 510px;
  color: #FF5733;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
  margin-top: 15px;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  
}

.submenu1 {
  display: none;
}

nav ul li:hover .submenu1 {
  display: block;
  position: absolute;
  background-color: #592cbb;
  opacity: 0.9;
  margin-top: -30px;
  font-size: 18px;
  z-index: 100;
  width: 190px;
}

nav ul li:hover .submenu1 ul {
  display: block;
 
  
}

nav ul li:hover .submenu1 ul li {
  transition: 0.7s;
  width: 190px;
  padding: 0;
  margin: 0;
}

nav ul li:hover .submenu1 ul li a {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin: 0;
  transition: 0.3s;
}

nav ul li:hover .submenu1 ul li:hover,
nav ul li:hover .submenu1 ul li:hover a {
  background-color: rgba(255, 255, 255, 0.9);
  color: #592cbb;
}

.submenu2{
  display: none;
}

.hoversub:hover .submenu2{
  display: block;
  position: absolute;
  margin-top: -47px;
  margin-left: -190px; /* colado ao menu primário, à esquerda */
  background-color: #592cbb;
  opacity: 0.9;
  width: 190px;
  z-index: 101;
}

nav ul li:hover .submenu2 ul li {
  transition: 0.7s;
  width: 190px;
  padding: 0;
  margin: 0;
}

nav ul li:hover .submenu2 ul li a {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin: 0;
  transition: 0.3s;
}

nav ul li:hover .submenu2 ul li:hover,
nav ul li:hover .submenu2 ul li:hover a {
  background-color: rgba(255, 255, 255, 0.9);
  color: #592cbb;
}

.header img {
  height: 3rem;
  margin-top: 15px;
  margin-left: 30px;
}



@media (max-width: 1500px) {
  .header {
    width: 1400px;
  }
  .signup {
    margin-left: 410px;
  }
  
}

@media (max-width: 1400px) {
  .header {
    width: 1400px;
  }
  .signup {
    margin-left: 250px;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 1300px;
  }
  .signup {
    margin-left: -30px;
  }
  .block1 h1 {
    margin-top: 1px;
  }
  .header .logoufba img {
    height: 50px;
    margin-top: 10px;
  }

  .header .figure img {
    height: 50px;
  }
}

@media (max-width: 900px) {
  .header {
    width: 1300px;
    background-image: url("../../assets/header-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    flex-direction: row;
    display: flex;
  }

  .signup {
    margin-left: 50px;
  }

  .block1 h1 {
    margin-top: 1px;
  }
  .header .figure img {
    height: 60px;
  }

  nav ul li{
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .block1 h1 {
    padding-top: 6px;
    padding-left: 3px;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 9px;
    text-align: center;
    white-space: nowrap;
  }

  .header img {
    height: 2.5rem;
    margin-top: 15px;
    margin-left: 10px;
  }

  .signup {
    margin-left: 100px;
  }

  .block1 h1 {
    margin-top: 1px;
  }
 
  .header .logoufba img {
    height: 50px;
    margin-top: 10px;
  }

  .header .figure img {
    height: 60px;
  }

}

