/* Reservation Auditory Page Styles */
.RA {
  display: flex;
  flex: 1;
  overflow: visible;
  justify-content: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 630px;
  padding-left: 700px;
  padding-right: 8px;
}

.box ul {
  font-size: 24px;
  color: #fff;
  margin: 0 auto 20px auto;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: 600;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 600px;
  max-height: 70vh;
  overflow-y: auto;
  top: 19%;
  left: calc(10% + 130px);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: -100px;
}

.box input {
  display: flex;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-top: 0.2rem;
  margin-left: 2.5rem;
  border-radius: 15px;
  transition: all linear 160ms;
  outline: none;
  width: calc(100% - 5rem);
  color: #000;
}

.box label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.form {
  padding-bottom: 5px;
  padding-top: 25px;
}

.box button {
  padding: 15px;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  width: 300px;
  background-color: #beb6b6;
  margin: 20px auto 0 auto;
  display: block;
  border: none;
  transition: 500ms linear;
}

.box button:hover {
  background-color: #936aeb;
}

.box button > a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  padding: 0 2.5rem;
}

.dateField {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dateField label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.dateField input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: all linear 160ms;
  outline: none;
  width: 100%;
  color: #000;
}
