.labs {
  flex: 1;
  padding: 2rem;
}

.title {
  justify-content: center;
  align-items: center;
  margin-left: 330px;
  margin-bottom: 2rem;
  margin-top: 7rem;
  font-size: 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 50px;
  margin-bottom: 18rem;
}

.Laiga {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  width: 350px;
  height: 100px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, rgba(2,0,36,0.85) 0%, rgba(63,9,121,0.85)),
    url('/src/components/Figures/LogoLaiga.png') center/cover;
}

.Laiga:hover {
  transform: translateY(-5px);
}

.Lamod {
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 350px;
  height: 100px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/congrats.jpg') center/cover;
}

.Lagep {
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 350px;
  height: 100px;
  left: 83px;
  top: 330px;
  position: absolute;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/congrats.jpg') center/cover;
}

.Lagep:hover {
  transform: translateY(-5px);
}

.others:hover {
  transform: translateY(-5px);
}

.others {
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 350px;
  height: 100px;
  left: 380px;
  top: -5px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: linear-gradient(135deg, rgba(2,0,36,0.85), rgba(9,94,121,0.85)),
    url('/src/components/Figures/meeting.jpg') center/cover;
}

.Yeda:hover {
  transform: translateY(-5px);
}

.staticFigure img {
  height: 40rem;
  padding-left: 900px;
  margin-bottom: -270px;
  margin-left: -365px;
  margin-top: -230px;
}

@media (max-width: 1200px) {

  .staticFigure {
    display: block;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30rem;
  }

  .others {
    left: 5px;
  }

}

@media (max-width: 800px) {

  .container {
    margin-bottom: 27rem;
  }


}

@media (max-width: 400px) {


  .title {
    margin-left: 100px;
  }
  .container {
    margin-bottom: 30rem;
  }

  .Lagep {
    top: 400px;
  }
  .others {
    left: 5px;
    top: 10px;
  }

  .container {
    margin-bottom: 65rem;
  }


}