.cpgg{
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  column-count: 1;
  display: flex;
  flex: 1;
  color: #fff;
  padding-top: 140px;
  padding-bottom: 543px;
  padding-left: 280px;
  padding-right: 200px;
  }


.Title ul {
    font-size: 35px;
    color: #363F5;
    margin-top: -10px; 
    padding-left: 300px;
    padding-bottom: 50px;
    white-space: nowrap;
    font-weight: bold;
  }

.box  {
    text-align: justify-all;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255,255,255,.2);
    background-color: rgba(255,255,255, 0.2);
    position: absolute;
    width: 900px;
    height: 500px;
    top: 40%; 
    left:2%;
    padding: 20px;
    padding-left: 350px;
    border-radius: 20px;
    gap: 5px;
    margin-bottom: -500px;
    overflow-y: scroll;
  }



.box1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 300px;
  height: 300px;
  top: 3%; 
  left:2%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
  background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(63,9,121,0.1)),
  url('https://i.imgur.com/7oNBqkd.jpg') center/cover;
}

.legend1 {
  font-size: 12px;
  right: 10px;
  left: 10px;
  top: 300px;
	position: absolute;
}


.box2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 300px;
  height: 300px;
  top: 85%; 
  left:2%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
  background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(63,9,121,0.1)),
  url('https://i.imgur.com/fQMNk9Y.jpg') center/cover;
}


.legend2 {
  font-size: 12px;
  right: 10px;
  left: 10px;
  top: 300px;
	position: absolute;
}


.box3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 300px;
  height: 300px;
  top: 165%; 
  left:2%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
  background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(63,9,121,0.1)),
  url('https://i.imgur.com/RKAvYyR.jpg') center/cover;
}


.legend3 {
  font-size: 12px;
  right: 10px;
  left: 10px;
  top: 300px;
	position: absolute;
}

.staticFigure img {
  height: 40rem;
  margin-top: -83px;
  padding-left: 710px;
  margin-bottom: -500px;
}

/*---------------------*/

@media (max-width: 1024px) {
  .staticFigure {
    display: none;
  }

  .cpgg{
    padding-bottom: 700px;
    }

  .box {
    top: 15%;
  }

  .Title ul {
    padding-left: 200px;
  }

}


@media (max-width: 780px) {
  .staticFigure {
    display: none;
  }

  .cpgg{
    padding-bottom: 700px;
    }

  .box {
    top: 15%;
    height: 800px;
  }

  .Title ul {
    padding-left: 200px;
    margin-top: -30px; 

  }

}



@media (max-width: 400px) {
  .staticFigure {
    display: none;
  }

  .cpgg{
    padding-bottom: 700px;
    }

  .box {
    height: 1000px;
    top: 25%;
    left: 15%; 
  }

  .Title ul {
    padding-left: 200px;
    margin-top: -30px; 

  }

}
