.heads {
  padding-bottom: 825px;
  
}
.coordination{
  column-count: 1;
  display: flex;
  color: hsl(var(--foreground));
  padding-top: 15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-left: 730px;
  padding-right: 8px;
  }

.coordination ul{
  postion: absolute;
  font-size: 22px;
  font-weight: bold;
  margin-left: -600px;
  margin-top: -20px;
  color: hsl(var(--foreground));
}
.chief h1{
  postion: absolute;
  justify-content: center;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  margin-left:-205px;
}

.chief a{
  postion: absolute;
  justify-content: center;
  display: flex;
  font-size: 14px;
  margin-left: -175px;
  margin-top: 20px;
  white-space: nowrap;
  color: hsl(var(--foreground));
}

.chief b{
  postion: absolute;
  justify-content: center;
  display: flex;
  font-size: 14px;
  margin-left: -190px;
  margin-top: 20px;
  white-space: nowrap;
  color: hsl(var(--foreground));
}

.scientific  h1{
  postion: absolute;
  display: flex;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  margin-top: -6px;
  margin-left: 100px;
  white-space: nowrap;
}


.scientific   a{
  text-align: center;
  display: flex;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: hsl(var(--foreground));
}


.deliberative  h1{
  display: flex;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  margin-top:-5px;
  margin-left: 100px;
}

.deliberative   a{
  text-align: center;
  display: flex;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: hsl(var(--foreground));
}

.box1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 400px;
  height: 250px;
  top: 15%; 
  left:5%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
}


.box2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 400px;
  height: 500px;
  top: -1%; 
  left:120%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
}


.box3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 400px;
  height: 450px;
  top: -1%; 
  left:240%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
}


@media (max-width: 1200px) {

  .box1 {
    left: 30%;
  }

  .box2{
    left: -55%;
    top: 115%;

  }

  .box3 {
    left: 55%;
    top: 115%;
    height: 500px;
  }

  .heads {
    margin-bottom: 120px;
  }
}




@media (max-width: 800px) {

  .box1 {
    left: 40%;
  }

  .box2{
    left: -60%;

  }

  .box3 {
    left: 55%;
    top: 115%;

  }

  .heads {
    margin-bottom: 90px;
  }
}




@media (max-width: 400px) {

  .box1 {
    left: 80%;
    top: 20%;
  }

  .box2 {
    left: 1%;
    top: 110%;
  }

  .box3 {
    left: 1%;
    top:330%;
  }


  .heads {
    margin-bottom: 750px;
  }
}