.root {
  --purple-300: #8859ec;
  --purple-500: #71226e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/src/components/Figures/bg.png');
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

body,
input,
textare,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-300);
}